:root {
	--color-light: #f8f9fa;
	--color-dark: #343a40;
	--color-white: #fff;
	--color-black: #000;

	--color-primary: #007bff;
	--color-primary-text: var(--color-dark);
	--color-secondary: #6c757d;
	--color-secondary-text: var(--color-dark);
	--color-green: green;
	--color-green-text: var(--color-dark);
	--color-blue: blue;
	--color-blue-text: var(--color-dark);
	--color-yellow: yellow;
	--color-yellow-text: var(--color-dark);
	--color-orange: orange;
	--color-orange-text: var(--color-dark);
	--color-danger: red;
	--color-danger-text: var(--color-dark);

	--bg: var(--color-white);
	--fg: var(--color-dark);
	--accent: var(--color-primary);

	--bg-alt: var(--color-light);
	--fg-alt: var(--color-black);
	--accent-alt: var(--color-secondary);
}

[data-theme='dark'] {
	--bg: var(--color-black);
	--fg: var(--color-white);
	--bg-alt: var(--color-dark);
	--fg-alt: var(--color-light);
}

body {
	background-color: var(--bg);
	color: var(--fg);

	a {
		color: var(--accent);
	}
}

.bg-alt {
	background-color: var(--bg-alt);
}

.bg-primary {
	--bg: var(--color-primary);
	--fg: var(--color-primary-text);

	background-color: var(--bg);
	color: var(--fg);
}
