:root {
	--color-light: #dce0e8;
	--color-dark: #1e2030;
	--color-white: #eff1f5;
	--color-black: #181926;

	--color-primary: #cba6f7;
	--color-primary-text: var(--color-dark);
	--color-secondary: #f5e0dc;
	--color-secondary-text: var(--color-dark);
	--color-green: #a6e3a1;
	--color-green-text: var(--color-dark);
	--color-blue: #89dceb;
	--color-blue-text: var(--color-dark);
	--color-yellow: #f9e2af;
	--color-yellow-text: var(--color-dark);
	--color-orange: #fab387;
	--color-orange-text: var(--color-dark);
	--color-red: #f38ba8;
	--color-red-text: var(--color-dark);

	--bg: var(--color-white);
	--fg: var(--color-black);
	--accent: var(--color-primary);

	--bg-alt: var(--color-light);
	--fg-alt: var(--color-dark);
	--accent-alt: var(--color-secondary);
}

[data-theme='dark'] {
	--bg: var(--color-dark);
	--fg: var(--color-white);
	--bg-alt: var(--color-black);
	--fg-alt: var(--color-light);
}